body {
  font-family: Arial, Helvetica, sans-serif;
}
#a_main {
  width: 90%;
  height: auto;
  margin: auto;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 30px;
  padding: 20px;
}
#a_prod_detail {
  height: auto;
}
#a_pay_detail {
  height: auto;
}
#a_membership {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 10px;
  border-radius: 10px;
}
#a_membership > p {
  margin-top: -10px;
  font-size: 12px;
  text-align: left;
}

#a_membership > h3 > i {
  color: green;
}
#a_plan #a_care {
  display: flex;
  justify-content: space-between;
}
#a_care img {
  width: 90px;
  height: 30px;
}
#a_care #a_off {
  margin-left: 75%;
  font-size: 14px;
  text-decoration: line-through;
  color: grey;
}
#a_plan {
  border: 1px solid grey;
  border-radius: 10px;
  padding: 15px 5px 10px 5px;
}
#a_plan p {
  margin-top: 4px;
  font-size: 13px;
  text-align: left;
}
#a_care_btn {
  display: flex;
  justify-content: space-between;
}
#a_care_btn button {
  border-radius: 20px;
  border: none;
  padding: 0px 20px 0px 20px;
  /* margin-top: -10px; */
}
#a_care_btn p i {
  color: #ff6f61;
}
#a_care_btn > p,
button:hover {
  cursor: pointer;
}
#a_remove {
  border: none;
  border-radius: 20px;
  padding: 0px 15px 0px 15px;
}
#cart_nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#nav_img {
  display: flex;
  gap: 90px;
  margin: 15px 0px 0px 50px;
}
#nav_img > a h3 {
  font-size: 18px;
  font-weight: 600;
  margin-top: 17px;
  text-decoration: underline;
}
#nav_img > a h3 i {
  color: #ff6f61;
}
#nav_img > img {
  width: 124px;
  height: 40px;
  font-size: 18px;
}
#help {
  margin: 18px;
}

@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}
:root {
  --text-clr: #4f4f4f;
}
p {
  color: #6c757d;
}
a {
  text-decoration: none;
  color: var(--text-clr);
}
a:hover {
  text-decoration: none;
  color: var(--text-clr);
}
h2 {
  color: var(--text-clr);
  font-size: 1.5rem;
}
.main_cart {
  background: #fff;
}
.card {
  border: none;
}
.product_img img {
  min-width: 200px;
  max-height: 200px;
}
.product_name {
  color: black;
  font-size: 1.4rem;
  text-transform: capitalize;
  font-weight: 500;
}
.card-title p {
  font-size: 0.9rem;
  font-weight: 500;
}
.remove-and-wish p {
  font-size: 0.8rem;
  margin-bottom: 0;
}
.price-money h3 {
  font-size: 1rem;
  font-weight: 600;
}
.row > div > h3 {
  margin-right: -320px;
}
.col-6 {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-top: 20px;
  padding: 10px 20px 2px 20px;
  width: auto;
  height: auto;
  font-size: 13px;
  margin-bottom: 20px;
}
.col-6 img{
  width: 80px;
}
.col-6 p{
  font-size: 20px;
  text-align: left;
}
.set_quantity {
  position: relative;
  /* text-align: right; */
}
.set_quantity::after {
  /* content: "(Note, 1 piece)"; */
  width: auto;
  height: auto;
  text-align: center;
  position: absolute;
  bottom: -20px;
  right: 1.5rem;
  font-size: 0.8rem;
}
.page-link {
  line-height: 16px;
  width: 45px;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #495057;
}
.page-item input {
  line-height: 22px;
  padding: 3px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.page-link:hover {
  text-decoration: none;
  color: #495057;
  outline: none !important;
}
.page-link:focus {
  box-shadow: none;
}
.price_indiv p {
  font-size: 1.1rem;
}
.fa-heart:hover {
  color: red;
}

#a_pay_detail > div {
  width: auto;
}
#a_pay_detail button {
  background-color: #ff6f61;
  margin-left: 20%;
  width: 60%;
  /* text-align: center; */
}
#a_pay_detail p{
  font-size: 16px;
  text-align: start;
}
.coupon {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom: 10px;
  height: auto;
}
#itemvalues{
 margin-left: 230px;
}
#removebtn{
  margin-right: 140px;
}

/* carousel */

/* * {
  margin: 0;
  padding: 0;
} */

.product1 {
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  height: 200px;
  /* display: block; */
  position: relative;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.product1-container {
  padding: 0 2vw;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  margin-top: 10px;
}

.product1-container::-webkit-scrollbar {
  display: none;
}

.product1-card {
  /* 8888 */
  flex: 0 0 auto;
  width: 12%;
  height: 400px;
  margin-right: 20px;
  margin-left: 20px;
}

.product1-card:hover {
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.pre-btn1,
.nxt-btn1 {
  border: none;
  width: 40px;
  height: 200px;
  position: absolute;
  /* top: 1; */
  display: flex;
  /* margin-top: 70px; */
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}
.pre-btn1:hover {
  background-color: rgb(222, 219, 219);
}
.nxt-btn1:hover {
  background-color: rgb(222, 219, 219);
}
.pre-btn1 i {
  margin-top: 80px;
  font-size: 30px;
  margin-left: 10px;
  color: #ff6f61;
}
.nxt-btn1 i {
  margin-top: 80px;
  font-size: 30px;
  margin-left: 10px;
  color: #ff6f61;
}

.pre-btn1 {
  left: 0;
}

.nxt-btn1 {
  right: 0;
}

.pre-btn1 img,
.nxt-btn1 img {
  opacity: 0.2;
}

.pre-btn1:hover img,
.nxt-btn1:hover img {
  opacity: 3;
}

.product1 > image {
  position: relative;
  width: 90%;
  height: 250px;
  overflow: hidden;
}

.product1-thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

p {
  text-align: center;
  margin-top: 10px;

  font-size: 12px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
}
#a_down {
  width: 100%;
  display: flex;
  gap: 20px;
  font-size: 12px;
  margin: 50px 0px 0px 225px;
  color: light black;
}
#a_down > #disc {
  width: 100%;
}
